<!DOCTYPE html>
<html>
<head>
    <meta name='indexPage' content='효율계산기'>
    <title>효율계산기</title>
</head>
<body>
    <form action="cal_efficiency">
        <h2>재획 몇분부터 이득일까요?</h2>
        지금부터 알아봅시다<br>
        마릿수
        <input type ="text" name = "killingRate" ><br>
        몬스터 레벨
        <input type ="text" name = "monsterLv" ><br>
        재획비 가격
        <input type ="text" name = "potionPrice" ><br>
        템메획
        <input type ="text" name = "item" ><br>
        어빌
        <input type ="text" name = "ability" ><br>
        농장
        <input type ="text" name = "farm" ><br>
        유니온팬텀 (없으면 0 , 140 - 4 , 200 - 5, 250- 6) <br>
        <input type ="text" name ="phantom"><br>
        유니온의부 (없으면 0 , 있으면 50) <br>
        <input type ="text" name ="unionbuff"><br>
        <input type="submit" value ="계산">
        asdasd
    </form>
</body> 
</html>